body {
  font-family: Arial;
  background-color: #ed8762;
  margin: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}

h1, h2 {
  color: #003366;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}
